* {
    box-sizing: border-box;
}
#carousel {
    position: relative;
    margin: 50px auto;
    width: 420px;
    height: 420px;
    border: 10px solid #000;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 2000px;
}
li {
    list-style: none;
    width: 400px;
    height: 400px;
    float: left;
}
.button {
    margin: 0;
    position: absolute;
    color: #fff;
    height: 400px;
    width: 10%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}
.right {
    right: 0;
}
.left {
    left: 0;
}
.icon {
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-50%);  
}
